<div class="span11 comment" style="border-bottom: 1px dashed #0044cc">


    <div class="summary"  >
        <p>
            <h4>
                <span class="content" style="font-weight: bold"></span>
            </h4>
        </p>
        <p>
            <span class="time"></span>&nbsp;&nbsp;
            <span class="grade"></span>&nbsp;&nbsp;
            <span class="academy"></span>
        </p>
    </div>

    <p class="bottom">
        <a class="btn red delete" href="javascript:">删除</a>
    </p>

</div>