
<div id="dynamic_pager_demo1" class="pagination"><ul class="bootpag">
<li data-lp="5" class="prev"><a href="javascript:void(0);">«</a></li>
<li data-lp="1" class=""><a href="javascript:void(0);">1</a></li>
<li data-lp="2"><a href="javascript:void(0);">2</a></li>
<li data-lp="3"><a href="javascript:void(0);">3</a></li>
<li data-lp="4"><a href="javascript:void(0);">4</a></li>
<li data-lp="5"><a href="javascript:void(0);">5</a></li>
<li data-lp="6" class="disabled"><a href="javascript:void(0);">6</a></li>
<li data-lp="6" class="next disabled"><a href="javascript:void(0);">»</a></li>
</ul>
</div>