<div class="tab-pane row-fluid active" id="tab_1_1">

	<div class="span12">
		<ul class="unstyled profile-nav span3">
			<li><img class="avatar" src="" alt=""/></li>
			<li><span class="content"></span>&nbsp;<a href="javascript:" class="edit-img">编辑</a></li>
		</ul>
		<div class="row-fluid">
			<div class="span8 profile-info">
				<p>
					<span class="star-name content" style="font-size:24px"></span>&nbsp;<a href="javascript:" class="edit">编辑</a>
				</p>
				<p><span>职业:</span><span class="content"></span>&nbsp;<a href="javascript:" class="edit">编辑</a></p>
				<p><span>地区:</span><span class="content"></span>&nbsp;<a href="javascript:" class="edit">编辑</a></p>
				<p><span>成就:</span><span class="content"></span>&nbsp;<a href="javascript:" class="edit">编辑</a></p>
				<a class="btn red submit1">提交</a>
				<hr/>
				<!-- 分数 -->
				<div class="score">
					<div style='float:left;width:60px;border:1px'><div>影响力</div><div class="content">5.0</div></div>
					<div style='float:left;width:60px;border:1px'><div>作品</div><div class="content">5.0</div></div>
					<div style='float:left;width:60px;border:1px'><div>性格</div><div class="content">5.0</div></div>
					<div style='float:left;width:60px;border:1px'><div>智商</div><div class="content">5.0</div></div>
					<div style='float:left;width:60px;border:1px'><div>容貌</div><div class="content">5.0</div></div>
					<a href="javascript:" class="edit2">编辑</a>
				</div>
				<div style='clear:both'/>
				<div>
					<a class="btn red submit2">提交</a>
				</div>
				<hr/>

			</div>
		</div>

		<div class="row-fluid">
			<button class="btn green big btn-block">相册<i class="m-icon-big-swapright m-icon-white"></i></button>
			<div class='album'></div>
			<br>
			<button class="btn green big btn-block">粉丝评价<i class="m-icon-big-swapright m-icon-white"></i></button>
			<div class='comments'></div>
			<br>
			<button class="btn green big btn-block trip">行程安排<i class="m-icon-big-swapright m-icon-white"></i></button>
			<div class='trip'></div>
			<br>
			<button class="btn green big btn-block">作品<i class="m-icon-big-swapright m-icon-white"></i></button>
			<div class='works'></div>
			<br>
			<button class="btn green big btn-block">每日新闻<i class="m-icon-big-swapright m-icon-white"></i></button>
			<br>
			<button class="btn green big btn-block">明星圈圈<i class="m-icon-big-swapright m-icon-white"></i></button>
		<div>

	</div>
	<!--end span9-->
</div>