<div>
    <div>
        <span>设置报警阈值</span>
        <br>
        <select></select>
        <div>
            <input class='v1'/>
        </div>
        <div>
            <input class='v2'/>
        </div>
        <a class='btn blue sure'>确定</a>
    </div>
    <!-- History data -->
    <!--
    <div class="opensleft">

        <div id="dashboard-report-range2" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="选择日期">

            <a class='btn blue sure'>
                <i class="icon-calendar"></i>
                <span>补齐数据</span>
                <i class="icon-angle-down"></i>
            </a>

        </div>


    </div>
    -->
</div>
</div>